:root {
  // document dimensions
  --usl-height: 1485px;
  --usl-width: 1148px;

  // fonts
  --font-display: 'Cormorant', serif;
  --font-display-sc: 'Cormorant SC', serif;
  --font-signature: 'Mrs Saint Delafield', cursive;
  --font-sans: 'Open Sans', sans-serif;

  // font sizes
  --text-md: 18px;
  --text-lg: 22px;

  // colors
  --primary: #fffcec;
  --accent: #9c965e;
  --white: #ffffff;
  --text: #3b3b3b;

  --grey: rgb(154, 154, 154);
  --grey-fade-3: rgba(128, 128, 128, .3);
  --green: rgb(0, 137, 119);
  --green-fade-4: rgba(0, 137, 119, 0.4);

  --normal: var(--grey);
  --warning: rgb(251, 171, 9);
  --alert: rgb(150, 25, 20);

  // letter spacing
  --xs-spaced: 0.5px;
  --sm-spaced: 1px;
  --spaced: 2px;
  --x-spaced: 5px;

  // document spacing
  --side-margin: 120px;
  --vert-margin: 70px;
  --div-margin: 30px;

  // utility spacing
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;
  --space-4xl: 64px;

  // invoice specific spacing
  --row-height: var(--space-4xl);
  --row-height-collapsed: var(--space-3xl);

  // sizes
  --size-btn-sm: 50px; 
  --size-btn-md: 80px; 
  --size-btn-lg: 120px; 

}

html {
  font-size: 16px;
  color: var(--text);
}

button {
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-sans);
  font-weight: 200;
  letter-spacing: 1px;
  &::placeholder {
    color: var(--text);
  }
  &:active,
  &:focus,
  &:focus-within {
    border: 1px solid #9c965e !important;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

.App {
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
th {
  padding: 1rem;
  background-color: lightblue;
  border: 3px solid rgb(20, 120, 154);
  text-align: center;
  color: rgb(20, 120, 154);
}

td {
  background-color: rgba(240, 128, 128, 0.479);
  height: 5vh;
} */
