:root {
  --font-display: 'Cormorant', serif;
  --font-display-sc: 'Cormorant SC', serif;
  --font-signature: 'Mrs Saint Delafield', cursive;
  --font-sans: 'Open Sans', sans-serif;

  --primary: #fffcec;
  --accent: #9c965e;
  --white: #ffffff;
  --text: #3b3b3b;

  --spaced: 5px;
  --xspaced: 5px;

  --side-margin: 120px;
  --vert-margin: 70px;
}

html {
  font-size: 62.5%;
  color: var(--text);
}

input {
  background-color: transparent;
  border: none;
  outline: none;
font-family: var(--font-sans);
font-weight: 200;
letter-spacing: 1px;
  &::placeholder {
  }
  &:active,
  &:focus,
  &:focus-within {
    border: 1px solid #9c965e !important;
  }
}

.App {
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
th {
  padding: 1rem;
  background-color: lightblue;
  border: 3px solid rgb(20, 120, 154);
  text-align: center;
  color: rgb(20, 120, 154);
}

td {
  background-color: rgba(240, 128, 128, 0.479);
  height: 5vh;
} */
